body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.56rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.24rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #b52525 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff5500 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b52525 !important;
  border-color: #b52525 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #6d1616 !important;
  border-color: #6d1616 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6d1616 !important;
  border-color: #6d1616 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff5500 !important;
  border-color: #ff5500 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a83800 !important;
  border-color: #a83800 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a83800 !important;
  border-color: #a83800 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b52525;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6d1616 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b52525 !important;
  border-color: #b52525 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff5500;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a83800 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff5500 !important;
  border-color: #ff5500 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #b52525 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff5500 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #601414 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #993300 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #b52525;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff5500;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b52525;
  border-color: #b52525;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #b52525;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e37676;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffddcc;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #b52525 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #b52525;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b52525;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #b52525;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b52525;
  border-bottom-color: #b52525;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #b52525 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23b52525' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  position: relative !important;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  position: absolute !important;
}
.cid-tB0YZQqaCG .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tB0YZQqaCG .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tB0YZQqaCG .dropdown-item:hover,
.cid-tB0YZQqaCG .dropdown-item:focus {
  background: #b52525 !important;
  color: white !important;
}
.cid-tB0YZQqaCG .dropdown-item:hover span {
  color: white;
}
.cid-tB0YZQqaCG .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tB0YZQqaCG .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tB0YZQqaCG .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tB0YZQqaCG .nav-link {
  position: relative;
}
.cid-tB0YZQqaCG .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .container {
    flex-wrap: wrap;
  }
}
.cid-tB0YZQqaCG .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tB0YZQqaCG .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tB0YZQqaCG .dropdown-menu,
.cid-tB0YZQqaCG .navbar.opened {
  background: #18356a !important;
}
.cid-tB0YZQqaCG .nav-item:focus,
.cid-tB0YZQqaCG .nav-link:focus {
  outline: none;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tB0YZQqaCG .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tB0YZQqaCG .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(24, 53, 106, 0.7);
}
.cid-tB0YZQqaCG .navbar.opened {
  transition: all 0.3s;
}
.cid-tB0YZQqaCG .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tB0YZQqaCG .navbar .navbar-logo img {
  width: auto;
}
.cid-tB0YZQqaCG .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tB0YZQqaCG .navbar.collapsed {
  justify-content: center;
}
.cid-tB0YZQqaCG .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tB0YZQqaCG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tB0YZQqaCG .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tB0YZQqaCG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tB0YZQqaCG .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tB0YZQqaCG .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tB0YZQqaCG .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tB0YZQqaCG .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tB0YZQqaCG .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tB0YZQqaCG .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tB0YZQqaCG .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tB0YZQqaCG .navbar.navbar-short {
  min-height: 60px;
}
.cid-tB0YZQqaCG .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tB0YZQqaCG .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tB0YZQqaCG .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tB0YZQqaCG .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tB0YZQqaCG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tB0YZQqaCG .dropdown-item.active,
.cid-tB0YZQqaCG .dropdown-item:active {
  background-color: transparent;
}
.cid-tB0YZQqaCG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tB0YZQqaCG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #18356a;
}
.cid-tB0YZQqaCG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tB0YZQqaCG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tB0YZQqaCG ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tB0YZQqaCG .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tB0YZQqaCG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b52525;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tB0YZQqaCG a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tB0YZQqaCG .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tB0YZQqaCG .navbar {
    height: 70px;
  }
  .cid-tB0YZQqaCG .navbar.opened {
    height: auto;
  }
  .cid-tB0YZQqaCG .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tB10ubWVri {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB10ubWVri .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB10ubWVri .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB10ubWVri .mbr-section-title {
  color: #000000;
}
.cid-vsFuxaL0VE {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-vsFuxaL0VE .mbr-fallback-image.disabled {
  display: none;
}
.cid-vsFuxaL0VE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vsFuxaL0VE .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-vsFuxaL0VE .currentcost {
  color: #232323;
}
.cid-vsFuxaL0VE .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-vsFuxaL0VE .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-vsFuxaL0VE .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-vsFuxaL0VE .text-box {
    padding: 1rem;
  }
}
.cid-vsFuxaL0VE .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-vszOKZhpDv {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-vszOKZhpDv .mbr-fallback-image.disabled {
  display: none;
}
.cid-vszOKZhpDv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vszOlzmzra {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-vszOlzmzra .mbr-fallback-image.disabled {
  display: none;
}
.cid-vszOlzmzra .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vszOlzmzra .item {
  padding-bottom: 2rem;
}
.cid-vszOlzmzra .item-wrapper {
  position: relative;
}
.cid-vszOlzmzra .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-vszOlzmzra .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-vszOlzmzra .carousel-control,
.cid-vszOlzmzra .close {
  background: #1b1b1b;
}
.cid-vszOlzmzra .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-vszOlzmzra .carousel-control-prev span {
  margin-right: 5px;
}
.cid-vszOlzmzra .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-vszOlzmzra .carousel-control-next span {
  margin-left: 5px;
}
.cid-vszOlzmzra .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-vszOlzmzra .close::before {
  content: '\e91a';
}
.cid-vszOlzmzra .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-vszOlzmzra .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-vszOlzmzra .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-vszOlzmzra .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-vszOlzmzra .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-vszOlzmzra .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-vszOlzmzra .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-vszOlzmzra .carousel-indicators li.active,
.cid-vszOlzmzra .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-vszOlzmzra .carousel-indicators li::after,
.cid-vszOlzmzra .carousel-indicators li::before {
  content: none;
}
.cid-vszOlzmzra .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-vszOlzmzra .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-vszOlzmzra .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-vszOlzmzra .carousel-indicators {
    display: none;
  }
}
.cid-vszOlzmzra .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-vszOlzmzra .carousel-inner > .active {
  display: block;
}
.cid-vszOlzmzra .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-vszOlzmzra .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-vszOlzmzra .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-vszOlzmzra .carousel-control,
  .cid-vszOlzmzra .carousel-indicators,
  .cid-vszOlzmzra .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-vszOlzmzra .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-vszOlzmzra .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-vszOlzmzra .carousel-indicators .active,
.cid-vszOlzmzra .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-vszOlzmzra .carousel-indicators .active {
  background: #fff;
}
.cid-vszOlzmzra .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-vszOlzmzra .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-vszOlzmzra .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-vszOlzmzra .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-vszOlzmzra .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-vszOlzmzra .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-vszOlzmzra .carousel {
  width: 100%;
}
.cid-vszOlzmzra .modal-backdrop.in {
  opacity: 0.8;
}
.cid-vszOlzmzra .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-vszOlzmzra .modal.fade .modal-dialog,
.cid-vszOlzmzra .modal.in .modal-dialog {
  transform: none;
}
.cid-vszOlzmzra .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-vszOlzmzra H6 {
  text-align: center;
}
.cid-vsJlN0BLRY {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-vsJlN0BLRY .line {
  background-color: #4479d9;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-vsJlN0BLRY .mbr-text {
  color: #ffffff;
}
.cid-vwaobh1etT {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-vwaobh1etT img,
.cid-vwaobh1etT .item-img {
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-vwaobh1etT .item:focus,
.cid-vwaobh1etT span:focus {
  outline: none;
}
.cid-vwaobh1etT .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-vwaobh1etT .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-vwaobh1etT .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-vwaobh1etT .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-vwaobh1etT .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-vwaobh1etT .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-vwaobh1etT .mbr-section-btn {
  margin-top: auto !important;
}
.cid-vwaobh1etT .mbr-section-title {
  color: #232323;
}
.cid-vwaobh1etT .mbr-text,
.cid-vwaobh1etT .mbr-section-btn {
  text-align: center;
}
.cid-vwaobh1etT .item-title {
  text-align: center;
}
.cid-vwaobh1etT .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-tB83YwBUMj {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-tB83YwBUMj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB83YwBUMj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1vWdJbT6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB1vWdJbT6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1vWdJbT6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1vWdJbT6 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tB1vWdJbT6 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tB1vWdJbT6 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tB85bPoWQz {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-tB85bPoWQz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB85bPoWQz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vw51muFERZ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-vw51muFERZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-vw51muFERZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vw51muFERZ .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-vw51muFERZ .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-vw51muFERZ .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tB1yuhcVVi {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-tB1yuhcVVi .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1yuhcVVi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1yuhcVVi .mbr-section-title {
  color: #ffffff;
}
.cid-tB1yuhcVVi .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tB1z7NONXX {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background: #fafafa;
}
.cid-tB1z7NONXX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1z7NONXX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1z7NONXX .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tB1z7NONXX .team-card:hover {
  transform: translateY(-10px);
}
.cid-tB1z7NONXX .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tB1z7NONXX .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tB1z7NONXX .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tB1z7NONXX .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tB1z7NONXX .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tB1z7NONXX .social-row {
  text-align: center;
}
.cid-tB1z7NONXX .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tB1z7NONXX .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-tB1z7NONXX .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tB1z7NONXX .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tB1zGVstSm {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tB1zGVstSm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1zGVstSm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tB1zGVstSm .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tB1zGVstSm .row {
  flex-direction: row-reverse;
}
.cid-tB1zGVstSm img {
  width: 100%;
}
.cid-tB85MvgqdZ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-tB85MvgqdZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB85MvgqdZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1AZH7rno {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB6Rwx4pqH {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB6Rwx4pqH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB6Rwx4pqH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB6Rwx4pqH .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  align-items: flex-start;
}
@media (min-width: 991px) {
  .cid-tB6Rwx4pqH .item {
    margin-bottom: 4rem;
  }
}
.cid-tB6Rwx4pqH .item:last-child .icon-box:before {
  display: none;
}
.cid-tB6Rwx4pqH .item.last .icon-box:before {
  display: none;
}
.cid-tB6Rwx4pqH .icon-box {
  background: #22a5e5;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tB6Rwx4pqH .icon-box {
    margin-right: 1rem;
  }
}
.cid-tB6Rwx4pqH span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tB6Rwx4pqH .card {
    margin-bottom: 2rem;
  }
  .cid-tB6Rwx4pqH .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tB70oq8oqH {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-tB70oq8oqH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB70oq8oqH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB70oq8oqH .content-wrapper {
  background: #18356a;
}
@media (max-width: 991px) {
  .cid-tB70oq8oqH .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tB70oq8oqH .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tB70oq8oqH .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tB70oq8oqH .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tB70oq8oqH .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-tB70oq8oqH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tB70oq8oqH .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-tB70oq8oqH .mbr-text,
.cid-tB70oq8oqH .mbr-section-btn {
  color: #ffffff;
}
.cid-tB85KfdIqc {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tB85KfdIqc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB85KfdIqc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vsCrrF8To7 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-vsCrrF8To7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vsCrrF8To7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vsCrrF8To7 .mbr-section-title {
  color: #16538c;
}
.cid-vsCrrF8To7 .mbr-section-subtitle {
  text-align: left;
}
.cid-vw4Z0iI0Lr {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-vw4Z0iI0Lr .mbr-fallback-image.disabled {
  display: none;
}
.cid-vw4Z0iI0Lr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vw4Z0iI0Lr .mbr-section-title {
  color: #ffffff;
}
.cid-vw4Z0iI0Lr .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tB77tvzDI1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: #fafafa;
}
.cid-tB77tvzDI1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB77tvzDI1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB77tvzDI1 .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tB77tvzDI1 .team-card:hover {
  transform: translateY(-10px);
}
.cid-tB77tvzDI1 .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tB77tvzDI1 .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tB77tvzDI1 .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tB77tvzDI1 .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tB77tvzDI1 .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tB77tvzDI1 .social-row {
  text-align: center;
}
.cid-tB77tvzDI1 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tB77tvzDI1 .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-tB77tvzDI1 .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tB77tvzDI1 .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tB78xBYzBD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB78xBYzBD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB78xBYzBD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tB78xBYzBD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tB78xBYzBD .row {
  flex-direction: row-reverse;
}
.cid-tB78xBYzBD img {
  width: 100%;
}
.cid-tB88MG5MRU {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-tB88MG5MRU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB88MG5MRU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vsCvjWYpuU {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-vsCvjWYpuU .mbr-fallback-image.disabled {
  display: none;
}
.cid-vsCvjWYpuU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vsCvjWYpuU .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-vsCvjWYpuU .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-vsCvjWYpuU .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #b52525;
}
.cid-vsCvjWYpuU .panel-body,
.cid-vsCvjWYpuU .card-header {
  padding: 1rem 0;
}
.cid-vsCvjWYpuU .panel-title-edit {
  color: #000000;
}
.cid-tB7fx06dWW {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB7fx06dWW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7fx06dWW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tB7fx06dWW .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tB7fx06dWW .row {
  flex-direction: row-reverse;
}
.cid-tB7fx06dWW img {
  width: 100%;
}
.cid-vwaCeNJWKJ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-vwaCeNJWKJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-vwaCeNJWKJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vwaC9cSieU {
  background-color: #edefeb;
}
.cid-vwaC9cSieU .mbr-fallback-image.disabled {
  display: none;
}
.cid-vwaC9cSieU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vwaC9cSieU .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vwaC9cSieU .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
.cid-vwaC9cSieU .mbr-text,
.cid-vwaC9cSieU .mbr-section-btn {
  color: #1a9950;
}
.cid-vwaC9cSieU .mbr-section-title {
  color: #000000;
}
.cid-tB7Yu884tX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #18356a;
}
.cid-tB7Yu884tX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7Yu884tX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB7Yu884tX ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tB7Yu884tX li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tB7Yu884tX ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #000000;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tB7Yu884tX .list {
  color: #ffffff;
}
.cid-tB7Zpny08V {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tB7Zpny08V .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7Zpny08V .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB7Zpny08V .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tB7Zpny08V .mbr-section-title {
  color: #ffffff;
}
.cid-tBuMPzdHFY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuMPzdHFY .mbr-section-title {
  text-align: center;
}
.cid-tBuMj9hDkk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuMj9hDkk .mbr-section-title {
  text-align: center;
}
.cid-tBuOj1XZ1f {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuOj1XZ1f .mbr-section-title {
  text-align: center;
}
